.heading {
    font-size: 28px;
}

.title {
    font-size: 24px;
}

.sub-title{
    font-size: 16px;
}

.card{
    padding: 12px;
    margin-top: 36px;
}

.card h2{
    color: grey;
}

.links{
    background: lightsalmon;
    color: white;
}

.links a{
    text-decoration: none;
    color: white;
}

.links a:hover{
    text-decoration: none;
    color: black;
}

.introduction{
    margin-top: 6px;
}

.iconContainer{
    height: 68px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.iconContainer a:hover {
    text-decoration: none;
}

.icon{
    height: 100%;
    width: auto;
    display: inline-block;
}

.information {
    margin:12px;
}
