#body {
  background: #343d46;
  height: 100%;
}

#container {
  max-width: 480px;
  height: 480px;
  text-align: center;
}

.heading {
    font-size: 28px;
}

.title {
    font-size: 24px;
}

.sub-title{
    font-size: 16px;
}

.card{
    padding: 12px;
    margin-top: 36px;
}

.card h2{
    color: grey;
}

.links{
    background: #343d46;
    color: white;
}

.links a{
    text-decoration: none;
    color: white;
}

.links a:hover{
    text-decoration: none;
    color: black;
}

.introduction{
    margin-top: 6px;
}

.iconContainer{
    height: 68px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.iconContainer a:hover {
    text-decoration: none;
}

.icon{
    height: 100%;
    width: auto;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.information, .frameworks{
    margin:12px;
}

#heart {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 50%);
}

#heart:after {
  	content: '\f004';
		font: 18px 'FontAwesome', sans-serif;
    color: crimson;
		transform: translate(-50%, 50%);
    animation: heartbeat 1s infinite;
    cursor: pointer;
}

#heart:hover:after {
  animation: heartbeat 0.5s infinite;
}

@keyframes heartbeat {
	0% {
		font-size: 18px;
	}
	30% {
		font-size: 20px;
	}
	45% {
		font-size: 22px;
	}
	70% {
		font-size: 20px;
	}
	100% {
		font-size: 18px;
	}
}
